body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2 {
    font-size: 30px;
    clear: both;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

main h1 {
    text-align: center;
    color: #FFF;
    background-color: #851944;
    padding: 25px;
    border-bottom: 10px solid #000;
    font-size: 60px;
    text-transform: uppercase;
}

p {
    text-align: justify;
    margin: 20px 0;
}

aside a {
    color: inherit;
    font-family: "Opens Sans Condensed", sans-serif;
}

main a {
    color: #851944;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-sociais li {
    display: inline-block;
}

.navegacao-pagina a {
    text-transform: lowercase;
}

.icones-sociais a {
    display: block;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
}

.github {
    background-image: url("../img/github.png");
}

.linkedin {
    background-image: url("../img/linkedin.png");
}

.twitter {
    background-image: url("../img/twitter.png");
}

main {
    width: 85%;
    float: left;
    padding-bottom: 80px;
}

.navegacao-pagina {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    list-style: none;
    width: 15%;
    float: right;
    position: relative;
    top: 310px;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}

.minha-foto, .navegacao-pagina {
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}